# Ignore compiled Python files
*.pyc

# Ignore all files under programs directory
programs/*

# Ignore zip files
*.zip


# Ignore Python cache directories
**/__pycache__/

# Ignore all files under data directory except vectorestore
/data/*
!/data/vectorstore/

# Ignore pythonProject directory
**/pythonProject/

# Ignore IDE specific files (e.g., for PyCharm)
**/.idea/

# Ignore key.txt file
**/key.txt
